@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
  @mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }

$min_width: 320px;
$max_width: 1200px;
$min_font: 16px;
$max_font: 24px;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@font-face {
    font-family: 'kusanagiregular';
    src: url('../fonts/kusanagi-webfont.woff2') format('woff2'),
         url('../fonts/kusanagi-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Roboto', sans-serif;
}
.topbar{
    background-color: #D4AF37;
    padding: 8px 0;
}
.socialinks{
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
        margin-right: 10px;
        background-color: #000;
        width: 30px;
        border-radius: 50%;
        height: 30px;
        border: 1px solid transparent;
        &:hover{
            border: 1px solid #000;
            background-color: #D4AF37;
            a{
                color: #000;
            }
        }
        a{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: CENTER;
            color: #D4AF37;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}
.top-address{
    padding: 0;
    margin: 0;
    li{
        display: inline-block;
        margin-right: 10px;
        a{
            color: #000;
            text-decoration: none;
        }
        &:last-child{
            margin-right: 0px;
        }
    }
}
header{
    &.site-header{
        background-color: #000;
        .navbar{
            .navbar-brand{
                font-size: 1.5625rem;
                color: #fff;
                font-family: 'kusanagiregular';
            }
            .navbar-toggler{
                color: #D4AF37;
                font-size: 3rem;
                padding: 0;
                &:focus{
                    outline: none;
                    box-shadow: none;
                }
                .hamburger{
                    display: none;
                }
                .close-ham{
                    display: block;
                }
                &.collapsed{
                    .hamburger{
                        display: block;
                    }
                    .close-ham{
                        display: none;
                    }
                }
            }
            .navbar-nav{
                .nav-item{
                    &.phone{
                        border: 2px solid #D4AF37;
                        border-radius: 3px;
                        @media screen and (max-width: 991px)
                        {
                            margin-top: 10px;
                        }
                        &:hover{
                            background-color: #D4AF37;
                            .nav-link{
                                color: #000;
                            }
                        }
                        .nav-link{
                            @media screen and (max-width: 991px)
                            {
                                padding-left: 25px;
                                padding-right: 25px;
                            }
                        }
                    }
                    .nav-link{
                        color: #fff;
                        font-weight: 400;
                        font-size: 1.15rem;
                        text-align: center;
                        @media screen and (min-width: 992px){
                            padding-right: .85rem !important;
                            padding-left: .85rem !important;
                        }
                        &.show{
                            @media screen and (min-width: 992px){
                                background-color: #D4AF37;
                                color: #000;
                            }
                        }
                    }
                    .dropdown-menu{
                        background-color: #D4AF37;
                        border-radius: 0;
                        margin-top: 0px;
                        box-shadow: none;
                        border: none;
                        .dropdown-item{
                            @media screen and (max-width: 991px)
                            {
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
    }
}
.hero{
    background-image: url(../images/hero-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: calc(90vh - 111px);
    color: #fff;
    p{
        @include fluid-type($min_width, $max_width, 18px, 21px);
    }
    h1{
        @include fluid-type($min_width, $max_width, 38px, 53px);
    }
    @media screen and (min-width: 768px){
        min-height: calc(100vh - 111px);
    }
}
.font-family-heading{
    font-family: 'kusanagiregular';
}
.sec-heading{
    font-weight: 700;
    @include fluid-type($min_width, $max_width, 27px, 37px);
}
.sub-heading{
    font-weight: 700;
    @include fluid-type($min_width, $max_width, 22px, 28px);
}
.sub-sub-heading{
    font-weight: 700;
    @include fluid-type($min_width, $max_width, 18px, 24px);
}
.text-dark{
    color: #353635;
}
.btn{
    border-radius: 0px;
    padding: 10px 25px;
    @include fluid-type($min_width, $max_width, 16px, 18px);
    font-weight: 700;
    text-transform: uppercase;
    &.rounded{
        border-radius: 30px !important;
    }
}
.btn-primary{
    background-color: #D4AF37;
    border-color: #D4AF37;
    color: #fff;
    &:hover{
        background-color: #000;
        border-color: #000;
    }
    &.black{
        background-color: #000;
        border-color: #000;
        &:hover{
            background-color: transparent;
            color: #000;
        }
    }
}
.practice-slider{
    box-shadow: 0px 3px 30px rgba(0,0,0,.15);
    background-color: #fff;    
    margin-top: -100px;
    .slick-slide{
        margin: 0px -16px 0px 0px;
        @media screen and (min-width: 768px)
        {
            margin: 0px 18px 0px 12px;
        }        
    }
}
.practicebox{
    background-color: #fff;
    .corporate-bg{
        @media screen and (min-width: 768px)
        {
            background-image: url(../images/corporate-practice.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
    .blockchain-bg{
        @media screen and (min-width: 768px)
        {
            background-image: url(../images/blockchain-technology.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
    .technology-bg{
        @media screen and (min-width: 768px)
        {
            background-image: url(../images/technology-bg.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
    .startup-bg{
        @media screen and (min-width: 768px)
        {
            background-image: url(../images/startup.jpg);
            background-size: cover;
            background-repeat: no-repeat;
        }        
    }
}
.body-text{
    font-weight: 400;
}
.text-black{
    color: #000;
}
.bg-golden
{
    background-color: #D4AF37;
}
.general-sec{
    padding: 40px 0;
    @media screen and (min-width: 768px)
    {
        padding: 60px 0;
    }
}
.neo-pill{
    a{
        text-decoration: none;
        background: #fff;
        border-radius: 5px;
        padding: 20px 10px;
        box-shadow: 0px 3px 30px rgb(0 0 0 / 15%);
        text-align: center;
        display: block;
        width: 100%;
        height: 100%;
        &:hover{
            background: #000;
            color: #fff;
            .text-black{
                color: #fff !important;
            }
        }
    }
    &.neo-pill{
        a{
            &:hover{
                background: #fff;
                color: #000;
                .text-black{
                    color: #000 !important;
                }
            }
        }
    }
    .pill-left{
        img{
            height: 90px !important;
            width: 90px !important;
        }
    }
    .pill-right{
    }
}
.font-medium{
    font-weight: 500;
}
.font-bold{
    font-weight: 700;
}
.font-black{
    font-weight: 900;
}
.font-size-32{
    @include fluid-type($min_width, $max_width, 22px, 32px);
}
.font-size-21{
    @include fluid-type($min_width, $max_width, 16px, 21px);
}
.font-size-24{
    @include fluid-type($min_width, $max_width, 18px, 24px);
}
.font-size-extra-small{
    @include fluid-type($min_width, $max_width, 12px, 14px);
}
.font-size-tiny{
    @include fluid-type($min_width, $max_width, 10px, 11px);
}
.font-size-hero{
    @include fluid-type($min_width, $max_width,38px, 53px);
}
.text-shadow-white{
    text-shadow:  1px 1px 10px rgb(255 255 255 / 50%);
}
.text-shadow-black{
    text-shadow:  1px 1px 10px rgb(0 0 0 / 15%);
}
.font-italic{
    font-style: italic;
}
.promoxbox{
    background-image: url(../images/pattern-bg.jpg);
    background-color: rgba(0,0,0,.15);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    padding: 3rem;
    color: #fff;
    text-align: center;
    box-shadow: 0px 3px 30px rgb(0 0 0 / 15%);
}
.call-to-action{
    background-image: url(../images/pexels-jeremy-dreja-2992539.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    backdrop-filter: blur(6px);
}
.what-differentiates
{
    background-image: url(../images/pattern-bg.jpg);
    position: relative;
    &::before{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.75);
        content: "";
    }
    .container{
        position: relative;
        z-index: 2;
    }
}
.testimonials{
    background-image: url(../images/testimonials-bg.jpg);
    background-position: center;
    position: relative;
    padding: 40px 0;
    @media screen and (min-width: 768px)
    {
        padding: 60px 0;
    }
    @media screen and (min-width: 992px)
    {
        padding: 90px 0;
    }
    &::before{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.45);
        content: "";
    }
    .container{
        position: relative;
        z-index: 2;
    }
    .testimonial-cnt-row{
        position: relative;
        @media screen and (min-width: 992px)
        {
            .slider-arrow{
                position: absolute;
                top: 50%;
                color: #fff;
                font-size: 55px;
                width: 80px;
                transform: translate(0,-50%);
                &.slider-prev{
                    left: 25px;
                }
                &.slider-next{
                    right: 25px;
                }
            }
        }
    }
    .testimonial-box{
        border-radius: 2px;
        box-shadow: 0px 3px 25px rgba(0,0,0,.31);
        background: #fff;
        padding: 30px;
        @media screen and (min-width: 768px)
        {
            padding: 40px;
        }
        @media screen and (min-width: 992px)
        {
            padding: 60px;
        }
        @media screen and (min-width: 1200px)
        {
            padding: 80px;
        }
        .testimonial-footer{
            margin-top: 40px;
            .testimonial-card{
                display: flex;
                align-items: center;
                margin-left: auto;
                margin-right: auto;
                .testimonial-card-info{
                    padding-left: 1.5rem;
                }
            }
        }
    }
    .slick-dotted.slick-slider{
        margin-bottom: 0px;
    }
    .slick-dots{
        position: relative;
        bottom: auto;
        top:0;
        li
        {
            &.slick-active
            {
                button{
                    &::before
                    {
                        color: #fff;
                    }
                }
            }
            button{
                &::before
                {
                    font-size: 18px;
                }
            }
        }
    }
}
.clients-partners{
    background-color: #000;
    padding: 40px 0;
    @media screen and (min-width: 768px)
    {
        padding: 60px 0;
    }
    @media screen and (min-width: 992px)
    {
        padding: 90px 0;
    }
}
.partnerslider {
    .slick-dots{
        bottom: -60px;
        li
        {
            &.slick-active
            {
                button{
                    &::before
                    {
                        color: #fff;
                    }
                }
            }
            button{
                &::before
                {
                    font-size: 18px;
                    color: #fff;
                }
            }
        }
    }
}
.call-to-action-big{
    background-image: url(../images/pattern-bg.jpg);
    position: relative;
    padding: 40px 0;
    @media screen and (min-width: 768px)
    {
        padding: 60px 0;
    }
    @media screen and (min-width: 992px)
    {
        padding: 90px 0;
    }
    &::before{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255,255,255,.75);
        content: "";
    }
    .container{
        position: relative;
        z-index: 2;
    }   
}
footer{
    background-color: #000;
    padding: 40px 0;
    @media screen and (min-width: 768px)
    {
        padding: 60px 0;
    }
    @media screen and (min-width: 992px)
    {
        padding: 90px 0px 30px 0px;
    }
    .footerlinks{
        li{
            list-style: none;
            margin-bottom: 8px;
            a{
                color: #fff;
                text-decoration: none;
                position: relative;
                &::before{
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 1px;
                    bottom: -5px;
                    left: 0;
                    background-color: #fff;
                    transition: width .3s ease;
                }
                &:hover{
                    &::before{
                        width: 100%;
                    }
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    .copyright{
        border-top: 1px solid #fff;
        padding-top: 30px;
        margin-top: 30px;
        @media screen and (min-width: 768px)
        {
            margin-top: 60px;
        }
    }
}