@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "kusanagiregular";
  src: url("../fonts/kusanagi-webfont.woff2") format("woff2"), url("../fonts/kusanagi-webfont.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: "Roboto", sans-serif;
}

.topbar {
  background-color: #D4AF37;
  padding: 8px 0;
}

.socialinks {
  padding: 0;
  margin: 0;
}
.socialinks li {
  display: inline-block;
  margin-right: 10px;
  background-color: #000;
  width: 30px;
  border-radius: 50%;
  height: 30px;
  border: 1px solid transparent;
}
.socialinks li:hover {
  border: 1px solid #000;
  background-color: #D4AF37;
}
.socialinks li:hover a {
  color: #000;
}
.socialinks li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: CENTER;
  color: #D4AF37;
}
.socialinks li:last-child {
  margin-right: 0px;
}

.top-address {
  padding: 0;
  margin: 0;
}
.top-address li {
  display: inline-block;
  margin-right: 10px;
}
.top-address li a {
  color: #000;
  text-decoration: none;
}
.top-address li:last-child {
  margin-right: 0px;
}

header.site-header {
  background-color: #000;
}
header.site-header .navbar .navbar-brand {
  font-size: 1.5625rem;
  color: #fff;
  font-family: "kusanagiregular";
}
header.site-header .navbar .navbar-toggler {
  color: #D4AF37;
  font-size: 3rem;
  padding: 0;
}
header.site-header .navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
header.site-header .navbar .navbar-toggler .hamburger {
  display: none;
}
header.site-header .navbar .navbar-toggler .close-ham {
  display: block;
}
header.site-header .navbar .navbar-toggler.collapsed .hamburger {
  display: block;
}
header.site-header .navbar .navbar-toggler.collapsed .close-ham {
  display: none;
}
header.site-header .navbar .navbar-nav .nav-item.phone {
  border: 2px solid #D4AF37;
  border-radius: 3px;
}
@media screen and (max-width: 991px) {
  header.site-header .navbar .navbar-nav .nav-item.phone {
    margin-top: 10px;
  }
}
header.site-header .navbar .navbar-nav .nav-item.phone:hover {
  background-color: #D4AF37;
}
header.site-header .navbar .navbar-nav .nav-item.phone:hover .nav-link {
  color: #000;
}
@media screen and (max-width: 991px) {
  header.site-header .navbar .navbar-nav .nav-item.phone .nav-link {
    padding-left: 25px;
    padding-right: 25px;
  }
}
header.site-header .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
  font-weight: 400;
  font-size: 1.15rem;
  text-align: center;
}
@media screen and (min-width: 992px) {
  header.site-header .navbar .navbar-nav .nav-item .nav-link {
    padding-right: 0.85rem !important;
    padding-left: 0.85rem !important;
  }
}
@media screen and (min-width: 992px) {
  header.site-header .navbar .navbar-nav .nav-item .nav-link.show {
    background-color: #D4AF37;
    color: #000;
  }
}
header.site-header .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: #D4AF37;
  border-radius: 0;
  margin-top: 0px;
  box-shadow: none;
  border: none;
}
@media screen and (max-width: 991px) {
  header.site-header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    text-align: center;
  }
}

.hero {
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  min-height: calc(90vh - 111px);
  color: #fff;
}
.hero p {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .hero p {
    font-size: calc(18px + 3 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero p {
    font-size: 21px;
  }
}
.hero h1 {
  font-size: 38px;
}
@media screen and (min-width: 320px) {
  .hero h1 {
    font-size: calc(38px + 15 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .hero h1 {
    font-size: 53px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    min-height: calc(100vh - 111px);
  }
}

.font-family-heading {
  font-family: "kusanagiregular";
}

.sec-heading {
  font-weight: 700;
}
.sec-heading {
  font-size: 27px;
}
@media screen and (min-width: 320px) {
  .sec-heading {
    font-size: calc(27px + 10 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .sec-heading {
    font-size: 37px;
  }
}

.sub-heading {
  font-weight: 700;
}
.sub-heading {
  font-size: 22px;
}
@media screen and (min-width: 320px) {
  .sub-heading {
    font-size: calc(22px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .sub-heading {
    font-size: 28px;
  }
}

.sub-sub-heading {
  font-weight: 700;
}
.sub-sub-heading {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .sub-sub-heading {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .sub-sub-heading {
    font-size: 24px;
  }
}

.text-dark {
  color: #353635;
}

.btn {
  border-radius: 0px;
  padding: 10px 25px;
  font-weight: 700;
  text-transform: uppercase;
}
.btn {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .btn {
    font-size: calc(16px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}
.btn.rounded {
  border-radius: 30px !important;
}

.btn-primary {
  background-color: #D4AF37;
  border-color: #D4AF37;
  color: #fff;
}
.btn-primary:hover {
  background-color: #000;
  border-color: #000;
}
.btn-primary.black {
  background-color: #000;
  border-color: #000;
}
.btn-primary.black:hover {
  background-color: transparent;
  color: #000;
}

.practice-slider {
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  margin-top: -100px;
}
.practice-slider .slick-slide {
  margin: 0px -16px 0px 0px;
}
@media screen and (min-width: 768px) {
  .practice-slider .slick-slide {
    margin: 0px 18px 0px 12px;
  }
}

.practicebox {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  .practicebox .corporate-bg {
    background-image: url(../images/corporate-practice.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .practicebox .blockchain-bg {
    background-image: url(../images/blockchain-technology.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .practicebox .technology-bg {
    background-image: url(../images/technology-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) {
  .practicebox .startup-bg {
    background-image: url(../images/startup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.body-text {
  font-weight: 400;
}

.text-black {
  color: #000;
}

.bg-golden {
  background-color: #D4AF37;
}

.general-sec {
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .general-sec {
    padding: 60px 0;
  }
}

.neo-pill a {
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  padding: 20px 10px;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  display: block;
  width: 100%;
  height: 100%;
}
.neo-pill a:hover {
  background: #000;
  color: #fff;
}
.neo-pill a:hover .text-black {
  color: #fff !important;
}
.neo-pill.neo-pill a:hover {
  background: #fff;
  color: #000;
}
.neo-pill.neo-pill a:hover .text-black {
  color: #000 !important;
}
.neo-pill .pill-left img {
  height: 90px !important;
  width: 90px !important;
}
.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.font-size-32 {
  font-size: 22px;
}
@media screen and (min-width: 320px) {
  .font-size-32 {
    font-size: calc(22px + 10 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-32 {
    font-size: 32px;
  }
}

.font-size-21 {
  font-size: 16px;
}
@media screen and (min-width: 320px) {
  .font-size-21 {
    font-size: calc(16px + 5 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-21 {
    font-size: 21px;
  }
}

.font-size-24 {
  font-size: 18px;
}
@media screen and (min-width: 320px) {
  .font-size-24 {
    font-size: calc(18px + 6 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-24 {
    font-size: 24px;
  }
}

.font-size-extra-small {
  font-size: 12px;
}
@media screen and (min-width: 320px) {
  .font-size-extra-small {
    font-size: calc(12px + 2 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-extra-small {
    font-size: 14px;
  }
}

.font-size-tiny {
  font-size: 10px;
}
@media screen and (min-width: 320px) {
  .font-size-tiny {
    font-size: calc(10px + 1 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-tiny {
    font-size: 11px;
  }
}

.font-size-hero {
  font-size: 38px;
}
@media screen and (min-width: 320px) {
  .font-size-hero {
    font-size: calc(38px + 15 * ((100vw - 320px) / 880));
  }
}
@media screen and (min-width: 1200px) {
  .font-size-hero {
    font-size: 53px;
  }
}

.text-shadow-white {
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.5);
}

.text-shadow-black {
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
}

.font-italic {
  font-style: italic;
}

.promoxbox {
  background-image: url(../images/pattern-bg.jpg);
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  border-radius: 15px;
  padding: 3rem;
  color: #fff;
  text-align: center;
  box-shadow: 0px 3px 30px rgba(0, 0, 0, 0.15);
}

.call-to-action {
  background-image: url(../images/pexels-jeremy-dreja-2992539.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
}

.what-differentiates {
  background-image: url(../images/pattern-bg.jpg);
  position: relative;
}
.what-differentiates::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  content: "";
}
.what-differentiates .container {
  position: relative;
  z-index: 2;
}

.testimonials {
  background-image: url(../images/testimonials-bg.jpg);
  background-position: center;
  position: relative;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .testimonials {
    padding: 90px 0;
  }
}
.testimonials::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  content: "";
}
.testimonials .container {
  position: relative;
  z-index: 2;
}
.testimonials .testimonial-cnt-row {
  position: relative;
}
@media screen and (min-width: 992px) {
  .testimonials .testimonial-cnt-row .slider-arrow {
    position: absolute;
    top: 50%;
    color: #fff;
    font-size: 55px;
    width: 80px;
    transform: translate(0, -50%);
  }
  .testimonials .testimonial-cnt-row .slider-arrow.slider-prev {
    left: 25px;
  }
  .testimonials .testimonial-cnt-row .slider-arrow.slider-next {
    right: 25px;
  }
}
.testimonials .testimonial-box {
  border-radius: 2px;
  box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.31);
  background: #fff;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .testimonials .testimonial-box {
    padding: 40px;
  }
}
@media screen and (min-width: 992px) {
  .testimonials .testimonial-box {
    padding: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials .testimonial-box {
    padding: 80px;
  }
}
.testimonials .testimonial-box .testimonial-footer {
  margin-top: 40px;
}
.testimonials .testimonial-box .testimonial-footer .testimonial-card {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
.testimonials .testimonial-box .testimonial-footer .testimonial-card .testimonial-card-info {
  padding-left: 1.5rem;
}
.testimonials .slick-dotted.slick-slider {
  margin-bottom: 0px;
}
.testimonials .slick-dots {
  position: relative;
  bottom: auto;
  top: 0;
}
.testimonials .slick-dots li.slick-active button::before {
  color: #fff;
}
.testimonials .slick-dots li button::before {
  font-size: 18px;
}

.clients-partners {
  background-color: #000;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .clients-partners {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .clients-partners {
    padding: 90px 0;
  }
}

.partnerslider .slick-dots {
  bottom: -60px;
}
.partnerslider .slick-dots li.slick-active button::before {
  color: #fff;
}
.partnerslider .slick-dots li button::before {
  font-size: 18px;
  color: #fff;
}

.call-to-action-big {
  background-image: url(../images/pattern-bg.jpg);
  position: relative;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  .call-to-action-big {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  .call-to-action-big {
    padding: 90px 0;
  }
}
.call-to-action-big::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  content: "";
}
.call-to-action-big .container {
  position: relative;
  z-index: 2;
}

footer {
  background-color: #000;
  padding: 40px 0;
}
@media screen and (min-width: 768px) {
  footer {
    padding: 60px 0;
  }
}
@media screen and (min-width: 992px) {
  footer {
    padding: 90px 0px 30px 0px;
  }
}
footer .footerlinks li {
  list-style: none;
  margin-bottom: 8px;
}
footer .footerlinks li a {
  color: #fff;
  text-decoration: none;
  position: relative;
}
footer .footerlinks li a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transition: width 0.3s ease;
}
footer .footerlinks li a:hover::before {
  width: 100%;
}
footer .footerlinks li:last-child {
  margin-bottom: 0;
}
footer .copyright {
  border-top: 1px solid #fff;
  padding-top: 30px;
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  footer .copyright {
    margin-top: 60px;
  }
}/*# sourceMappingURL=main.css.map */